---
- name: 타임존을 Asia/Seoul로 변경
  timezone:
    name: Asia/Seoul

- name: JDK 및 기타 도구 설치
  yum:
    name: ['dstat', 'java-1.8.0-openjdk', 'java-1.8.0-openjdk-devel', 'krb5-workstation', 'git']
    state: latest

- name: krb5 설정파일 복사
  template:
    src: krb5.conf.j2
    dest: /etc/krb5.conf
    owner: root
    group: root
    mode: '0644'
    backup: no